<div class="chat-box" ng-class="{'chat-box-minz':!showBox, 'chat-box-maxz':showBox}">
    <div class="chat-head" ng-click="showBox=!showBox" ng-class="{'highlight' : unread}">
        <div class="chat-head-content">
            <div class="chat-user-name">
                <span ng-if="agent.name">{{agent.name}} </span>
                <span ng-if="!agent.name">Chat with us!</span>
            </div>
        </div>
        <div class="chat-close-box fa fa-window-close" ng-click="close();"></div>
        <div class="chat-minz-box">
            <span ng-if="showBox" class="fa fa-window-minimize"></span>
            <span ng-if="!showBox" class="fa fa-window-maximize"></span>
        </div>
    </div>
    <div class="chat-body">
        <!-- Actual Conversation-->
        <conversation ng-if="agent._id && !showAlert"></conversation>

        <!-- Email form -->
        <div ng-if="!agent && !showAlert" class="chat-display">
            <div class="email" ng-if="!initiate">
                <input type="text" class="chat-text"
                       ng-keypress="emailValidate($event)"
                       ng-model="instance.email"
                       placeholder="Enter email and press Enter">
                <div>
                <span class="chat-text err" ng-if="!instance.emailValid">
                    * Email id is not valid
                </span>
                </div>
            </div>

            <!-- Loader -->
            <div ng-if="initiate && !agent && serverReponse === 0" class="loader"></div>

            <!-- When no support is available -->
            <div ng-if="initiate && !agent && serverReponse === 2">
                <div style="clear: both">
                    <div style="float: left">
                        <img src="/public/images/avatar/default-avatar.png" class="chat-his-pic">
                    </div>
                    <div style="float: left">
                        <div class="chat-him chat-talk-bubble chat-tri-right chat-round chat-left-top">
                            <div class="chat-talktext">
                                <p>
                                    No support available at this time. Please try again later.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="showAlert" class="chat-display">
            <div style="clear: both">
                <div style="float: left">
                    <img src="/public/images/avatar/default-avatar.png" class="chat-his-pic">
                </div>
                <div style="float: left">
                    <div class="chat-him chat-talk-bubble chat-tri-right chat-round chat-left-top">
                        <div class="chat-talktext">
                            <p>
                                Are you sure, you want to close the communication?
                            </p>
                            <p>
                                <span ng-click="closeCommunication()" class="alert-yes">Yes <span class="fa fa-thumbs-up"></span></span>
                                <span ng-click="cancel()" class="alert-no">No <span class="fa fa-thumbs-down"></span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-entry">
            <div>
                <input ng-if="agent._id && !showAlert" type="text" placeholder="Send a message" class="chat-text" ng-keypress="change($event)" ng-model="instance.text">
                <div ng-if="!agent || showAlert" class="chat-text"></div>
            </div>
        </div>
    </div>
</div>