<div>
    <div class="head">
        <div class="head-container">
            <div class="nav-pic">
                <img src="/public/images/avatar/dp.jpg">
            </div>
            <div class="nav-user">
                {{agent.name}}
            </div>
            <div class="nav-msg">
                Message
            </div>
            <div class="nav-title">
                Chatster
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 chat-list" ng-class="{'show-scroll-bar':scrollList, 'hide-scroll-bar' : !scrollList}" ng-mouseover="scrollList=true" ng-mouseleave="scrollList=false" ng-init="scrollList=false">
                <div class="chat-list-inset">
                    <div class="list-head">Messages</div>
                    <div class="chat-item" ng-class="{'highlight':chat.selected, 'message-blink' : chat.unread}" ng-repeat="chat in chatList | orderBy:'epoch':true" ng-click="getChatDetails(chat.guestId)">
                        <div>
                            <span class="guest-name">{{chat.guestEmail}} </span>
                            <span class="dt pull-right" am-time-ago="chat.epoch"></span>
                        </div>
                        <div class="guest-text">{{chat.text}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 conversation">
                <div class="conversation-inset">
                    <div class="list-head">{{currentGuest.guestEmail}}</div>
                    <div class="chat-display" id="convrplay">
                        <div ng-repeat="message in conversation">
                            <div class="chat-you chat-talk-bubble chat-tri-right chat-round chat-right-top" ng-if="message.type === 'you'">
                                <div class="chat-talktext">
                                    <p ng-repeat="m in message.text track by $index">
                                        {{m}}
                                    </p>
                                </div>
                            </div>

                            <div style="clear: both" ng-if="message.type === 'him'">
                                <div style="float: left">
                                    <img src="{{guestPic}}" class="chat-his-pic">
                                </div>
                                <div style="float: left">
                                    <div class="chat-him chat-talk-bubble chat-tri-right chat-round chat-left-top">
                                        <div class="chat-talktext">
                                            <p ng-repeat="m in message.text track by $index">
                                                {{m}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-date">
                                {{makeDate(message.epoch)}}
                            </div>
                        </div>
                    </div>
                    <div class="txt-box-container" id="convr-agent">
                        <input class="txt-box" ng-model="homeCtrl.text" ng-keypress="change($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="page-header">
        &lt;!&ndash;<div class="col-sm-9">
            <h1 class="title">Chatster</h1>
        </div>&ndash;&gt;
        <h1>hamster</h1>
        <div class="row">
            <span>Sonic boom chat</span>
        </div>
    </div>-->
<!--    <div class="page-header">
        <h1>Home</h1>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            Welcome {{user.name}}
        </div>
        <a href="/agent/profile">Profile</a>
        <span class="pull-right" ng-click='logout()'>Logout</span>
    </div>

    <div style="float: left">
        <div style="cursor: pointer" ng-repeat="chat in chatList | orderBy:'epoch':true" ng-click="getChatDetails(chat.guestId)">
            {{chat.epoch}} - {{chat.text}} - {{chat.type}} - <button ng-click="getChatDetails(chat.guestId)">View</button>
        </div>
    </div>

    <br><br><br><br><br><br>

    <div ng-if="conversation" style="">
        <div ng-repeat="item in conversation">
            <div>{{item}}</div> <br>
        </div>

        <div class="">
            <div>
                <input ng-model="homeCtrl.text" ng-keypress="change($event)"> {{homeCtrl.text}}
            </div>
        </div>

    </div>-->
</div>