<div>
    <div class="head">
        <div class="head-container">
            <div class="nav-pic">
                <img src="/public/images/profile/leo.jpg">
            </div>
            <div class="nav-user">
                <a href="/agent/home">{{agent.name}}</a>
            </div>
            <div class="nav-msg" ng-href="/">
                <a href="/">Message</a>
            </div>
            <div class="nav-title">
                Chatster
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 chat-list profile">
                <div class="img-container">
                    <img src="/public/images/profile/leo.jpg">
                </div>
                <div class="view-detail">
                    <div class="name">
                        {{agent.name}}
                    </div>
                    <div class="email">
                        {{agent.email}}
                    </div>
                    <div class="role">
                        {{agent.role}}
                    </div>
                </div>
            </div>
            <div class="col-sm-7 conversation">

            </div>
        </div>
    </div>
</div>